<% content_for :title do %>Contact<% end %>
<h3>Contact</h3>
<div class="form">
	<%= simple_form_for @contact do |f| %>
		<%= f.error_notification %>
		<%= f.input :name, autofocus: true %>
		<%= f.input :email %>
		<%= f.input :content, as: :text %>
		<%= f.button :submit, 'Submit', class: 'submit' %>
	<% end %>
</div>